<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../dist/l2chat.min.css" type="text/css">
</head>
<body style="padding: 2rem 0 0 2rem; font-family: 'Microsoft YaHei',sans-serif; background-color: lightgray">
<div id="app">
  <p>Shadow:<input v-model="shadow" type="checkbox" /></p>
  <textarea v-model="text"></textarea>
  <div>
    <p>Result:</p>
    <div ref="container"></div>
  </div>
</div>
<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
<script src="../dist/l2chat.min.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      text: '',
      shadow: false,
    },
    watch: {
      text (val, oldVal) {
        if (val !== oldVal)
          this.updateContainer()
      },
      shadow (val, oldVal) {
        if (val !== oldVal)
          this.updateContainer()
      }
    },
    methods: {
      updateContainer () {
        let raw = l2chat.fromRaw(this.text);
        let html = l2chat.generateHTMLString(raw, this.shadow);
        this.$refs.container.innerHTML = html;
      }
    }
  });
</script>
</body>
</html>
